*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar-nav li a:hover{
    /* padding-bottom: 70px; */
    border-bottom: 2px solid;
}
.navbar-nav li a:hover{
    
    color: #FF9800;
    border-color: #FF9800;
    /* border-bottom: 2px solid #cc9900; */
}
#vert{
    width: 150px;
    background-color: #05B192;
    color: white;
    
}
#vert:hover{
    background-color: white;
    color: #05B192;
}
/************************************************ fin-header***************************************************** */

/* ***********************main/ */
.bgimage{
    background: url('images/bd.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 700px;
}
.opacity{
    position: relative;
    top: 0px;
    right: 0px;
    bottom: 0px;
   left: 0px;
   height: 700px;
    display: flex;
   align-items: center;
    justify-content: center;
   background-color: #202020;
   opacity: 0.7;
}
.section1{
    background-color:#05B192 ;
    height: 100%
}
.Trais{
    border-bottom: 6px solid #FF9800;
  
}

/***************************************** debut-footer ***************************************************/
footer{
   
    background-image: url('images/africaine.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}
#footer{
    position: relative;
    top: 0px;
    right: 0px;
    bottom: 0px;
   left: 0px;
    display: flex;
   align-items: center;
    justify-content: center;
   background-color: #066352;
   opacity: 0.9;
}
footer i{
    color: white;
}
#img-foot{
    width: 70px;
    height: 70px;
}

#row3{
    border-top: 2px solid white;
}